node_modules
dist
.env
.DS_Store
.info
.agents
.scrap
raw_chat_history.txt
coverage
patches
AGENTS.md
skills-lock.json
project.md
memorybench/data/benchmarks/longmemeval/datasets/longmemeval_s_cleaned.json
.commandcode


